---
const menuitems = [
  {
    title: "Home",
    path: "/#home",
  },
  {
    title: "About",
    path: "/#about",
  },
  {
    title: "Team",
    path: "/#team",
  },
  {
    title: "Contact",
    path: "/#contact",
  },
];
---

<header class="py-2 md:py-0 ud-header absolute top-0 left-0 z-40 flex w-full items-center">
  <div class="container">
    <div class="relative -mx-4 flex items-center justify-between">
      <div class="w-60 max-w-full px-4">
        <a href="/" class="navbar-logo w-full py-5">
            <img
              src="/assets/logo/logo-footer.png"
              alt="logo"
              class="header-logo"
            />
        </a>
      </div>
      <div class="flex w-full items-center justify-between px-4">
        <div>
          <button
            id="navbarToggler"
            class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden"
          >
            <span
              class="relative my-[6px] block h-[2px] w-[30px] bg-secondary dark:bg-white"
            ></span>
            <span
              class="relative my-[6px] block h-[2px] w-[30px] bg-secondary dark:bg-white"
            ></span>
            <span
              class="relative my-[6px] block h-[2px] w-[30px] bg-secondary dark:bg-white"
            ></span>
          </button>
          <nav
            id="navbarCollapse"
            class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white dark:bg-dark-2 py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent dark:lg:bg-transparent lg:py-0 xl:px-4 lg:shadow-none 2xl:px-6"
          >
            <ul class="block lg:flex 2xl:ml-20">
              {
                menuitems.map((item, index) => {
                  // if(!item.children) {
                    return (
                      <li class="group relative">
                        <a
                          href={item.path}
                          class={` ${index}
                          ${Astro.url.pathname === '/' ? 'ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark dark:text-white group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-10' : 'ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark dark:text-white group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color dark:lg:text-dark-6 xl:ml-10'}
                          `}>
                          {item.title}
                        </a>
                      </li>

                    )
                })
              }
            </ul>
          </nav>
        </div>
        <div class="justify-end pr-16 my-4 flex items-center lg:pr-0">
          <div class="hidden sm:flex">
            <a
              href="/#contact"
              class={`${Astro.url.pathname === '/' ? 'signUpBtn rounded-md bg-white bg-opacity-20 border border-transparent py-2 px-6 text-base font-medium text-white duration-300 ease-in-out hover:bg-opacity-100 hover:border-secondary hover:text-dark' : 'signUpBtn rounded-md bg-primary py-2 px-6 text-base font-medium text-white duration-300 ease-in-out hover:bg-white hover:text-primary'}`}
            >
              Get started today
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>